.basket_text {
    margin-right: auto;
}
.total_price {
    font-size: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-bottom: 0.2rem solid rgba(0, 0, 0, 0.3);
}
.create_order {
    width: 17rem;
    height: 3.8rem;
    border-radius: 1.9rem;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    margin-left: auto;
    font-size: 1.6rem;
}
.create_order:hover {
    transform: scale(1.05);
}
.wrapper_items {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
}
.items {
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 2rem;
    width: 100%;
}
.items::-webkit-scrollbar {
    background-color: white;
    width: 0.3rem;
}
.items::-webkit-scrollbar-thumb {
    background-color: rgba(67, 26, 32, 0.2);
    border-radius: 0.3rem;
}
.basket_item {
    width: 100%;
    display: flex;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
.first {
    margin-top: 1vh;
}
.book_image {
    width: 15rem;
    height: 24rem;
    border-radius: 0.6rem;
}
.info_block {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}
.name_line {
    display: flex;
}
.name {
    font-family: "Playfair Display", sans-serif;
    font-size: 2.8rem;
    font-weight: bold;
}
.delete {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
}
.delete:hover {
    cursor: pointer;
    transform: rotate(90deg);
}
.delete_svg {
    width: 2.8rem;
    height: 2.8rem;
    fill: black;
}
.description {
    margin-top: 1.6rem;
    font-size: 1.6rem;
    max-width: 80rem;
}
.genres {
    display: block;
}
.genre {
    width: 10rem;
    height: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 2.5rem;
    border: 0.1rem solid black;
    font-size: 1.4rem;
    border-radius: 1.5rem;
    margin-top: 1.4rem;
}
.price {
    font-size: 2.2rem;
    margin-top: auto;
}
