.navbar {
    width: 100%;
    background-color: white;
    height: 5rem;
}
.large_blocks {
    display: inline-flex;
    justify-content: center;
}
.large_block {
    background-color: #431A20;
    width: 63.5rem;
    height: 32vh;
    display: inline-flex;
}
.ml_auto {
    margin-left: auto;
}
.large_book_img_block {
    height: 100%;
    width: 45%;
    border: 0.3rem solid #431A20;
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.large_book_img {
    border-radius: 0.5rem;
    width: 13.8rem;
    height: 22rem;
}
.description_block {
    padding: 3.1rem 5.5rem 2.7rem 2.5rem;
    display: inline-flex;
    flex-direction: column;
    max-width: 34rem;
}
.name_block {
    font-family: 'Playfair Display', sans-serif;
    font-size: 2.4rem;
    color: white;
    font-weight: bold;
    margin-bottom: 0.8rem;
}
.description_book {
    font-size: 1.2rem;
    color: white;
}
.add_to_card {
    width: 15rem;
    height: 4rem;
    border-radius: 2rem;
    color: white;
    background-color: #CB2903;
    margin-top: auto;
    border: none;
    outline: none;
    font-size: 1.2rem;
}
.add_to_card:hover {
    transform: scale(1.05);
}
.padding_genres {
    align-items: flex-start;
    flex-direction: column;
    padding: 3.1rem 3.7rem;
}
.line_genres {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}
.finder_genres_block {
    margin-left: auto;
}
.finder_wrapper {
    height: 2.8rem;
    width: 15rem;
    border-bottom: 0.1rem solid rgba(203, 41, 3, 0.5);
    display: inline-flex;
    align-items: center;
}
.finder_genres {
    color: white;
    font-size: 1.2rem;
    width: 5rem;
    flex: 1 0 auto;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0);
}
.finder_genres::placeholder {
    color: rgba(255, 255, 255, 0.5);
}
.finder_genres:focus .finder_wrapper {
    border-bottom: 0.1rem solid rgba(203, 41, 3, 1);
}
.find_svg {
    width: 2rem;
    height: 2rem;
    fill: rgba(203, 41, 3, 0.5);
    margin-left: 0.5rem;
}
.find_svg:hover {
    fill: rgba(203, 41, 3, 1);
    cursor: pointer;
}
.genres_list {
    flex: 1 0 auto;
    margin-top: 2.5rem;
    width: 100%;
    display: block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.genre {
    display: inline-block;
    font-size: 1.4rem;
    margin-right: 4.8rem;
    color: white;
    margin-bottom: 1rem;
    border-bottom: 0.1rem solid rgba(203, 41, 3, 0)
}
.genre:hover {
    cursor: pointer;
    border-bottom: 0.1rem solid #CB2903;
}
.filter_block {
    display: flex;
    width: 100%;
    margin-top: 8vh;
    justify-content: center;
}
.filter_button {
    width: 15rem;
    height: 4rem;
    background: white;
    border: 0.1rem solid black;
    border-radius: 2rem;
    color: black;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter_button:hover {
    transform: scale(1.05);
}
.filter_svg {
    width: 2rem;
    height: 2rem;
    margin-left: 0.4rem;
    fill: black;
}
.books {
    margin-bottom: 3vh;
}
